* { margin: 0;
    padding: 0;
}

html {
    padding: 2em;
    color: #211c18
    hyphens: auto;
    word-wrap: break-word;
  }

  h3 {
    color: blue;
  }

  h1, h2, h3 {
    font: Avenir, sans-serif;
  }

  p {
    font: Palatino, serif;
    color: #424242;
  }
  
  blockquote {
    display: block;
    font-size: 125%;
    border-left: 5px solid #ffd359;
    padding-left: .75em;
    font-style: italic;
  }

  /* Classes */

  .header {
    font-size: 22px;
    font-weight: 900;
    position: relative;
    display: inline;
    text-decoration: underline;
    }

  .hello {
    color: blue;
    font-weight: 700;
    font-size: 30px;
    }

  .snippet {
    margin-bottom: 20px;
    padding: 35px;
    position: relative;
    background-color: #fdfdfd;
    border-radius: 20px;
    border: 1px solid #e9e9ea;
    border-left: 8px solid #ff492c;
    display: block;
    box-shadow: 5px 5px #eaeaea
    }

  .section {
    color: #211c18;
    font-weight: 500;
    font-size: 25px;
  }

  .learning {
    font-weight: 500;
    font-size: 25px;
    background-color: yellow;
    font-style: italic;
  }

  .worksample {
    color: blue;
    font-weight: 500;
    font-size: 22px;
  }

  .link {
    text-decoration: underline;
  }