<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="about">About Me</h2>
        <hr class="star-light">
      </div>
    </div>
    <br>
    <div class="text-justified">
      <div>
        <p class="p2">I help drive customer loyalty and company trust through efficient, frustration-free content.</p>
        <p class="p2">My specialties lie from technical writing to documentation, and in the future, data analysis.</p>
        <p class="p2">Because technical writing is more than writing: it's respect.</p>
        <p class="p2">And I use data to compose documentation to that end.</p>
      </div>
    </div>
  </div>
</section>
