<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="about">About</h2>
        <hr class="star-light">
      </div>
    </div>
    <br>
    <div class="text-justified">
      <div>
        <p class="p2">I'm an IT and manufacturing combo because all manufacturers use data.</p>
        <p class="p2">From technical writing to documentation, and in the future, database analysis.</p>
        <p class="p2">My goal is to help makers make more and better, with less consumer frustration.</p>
      </div>
    </div>
  </div>
</section>
